<div class="row">
  <div class="col-md-12">
    <br/>
    <h1>
      <%= I18n.t('flights.title') %>
      <span class="badge badge-secondary badge-success js-badge-status js-badge-online" style="display: none">on-line</span>
      <span class="badge badge-secondary badge-danger js-badge-status js-badge-offline" title="Веб-сокет недоступен?">off-line</span>
    </h1>
    <br/>
    <button class="btn btn-info js-action pull-right">
      <%= I18n.t('flights.action/launch') %>
    </button>
  </div>

  <div class="col-md-12">
    <%= render partial: 'list', locals: { flights: @flights } %>

    <br/>
    <%== pagy_bootstrap_nav_js(@pager) %>
  </div>
</div>
